<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Athlete Photos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <header>
        <a href="index.html" class="nav-home-button" id="top">HOME</a>
        
    </header>  

    <main>
        <section class="photo-gallery">
            <h3>Photo Gallery</h3>
            <div class="photo-grid">
                {{ photo_gallery | safe }}
            </div>
        </section>
    </main>
    
    <footer>
        <p>Created by Kaleyn Lin, Nick Pisarczyk, and Aditya Tambe for SI 339</p>
        <a href="#top" class = "top2">Back to top</a>
    </footer>
    
</body>
</html>